.container{
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.imgContainer{
    display: flex;
    align-items: center;
    gap: 20px;
}

.icon {
    cursor: pointer;
}